.screen {
    max-width: 37.5rem;
    margin: auto;
    padding: 10px;
}

header{
    width: 100%;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a1{
    width: 110px;
    height: 67px;
    border-radius: 1px solid black;
    background-color: rgb(58, 56, 56);
    color: white;
}
